In [1]:
import pandas as pd
import sys
print('Python version ' + sys.version)
print('Pandas version: ' + pd.__version__)

Python version 3.6.0 |Anaconda custom (x86_64)| (default, Dec 23 2016, 13:19:00)
[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]
Pandas version: 0.20.1

In [2]:
d = {'one':[1,10],'two':[2,20]}
i = ['a','b']

df = pd.DataFrame(data = d, index = i)
df

   one  two
a    1    2
b   10   20

In [3]:
df.index

Index(['a', 'b'], dtype='object')

In [4]:
# Принем столбцы и поместите их в индекс
stack = df.stack()
stack

a  one     1
   two     2
b  one    10
   two    20
dtype: int64

In [5]:
stack.index

MultiIndex(levels=[['a', 'b'], ['one', 'two']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [6]:
# Транспонирование
transpose = df.T
transpose

     a   b
one  1  10
two  2  20

In [7]:
transpose.index

Index(['one', 'two'], dtype='object')