In [9]:
import pandas as pd
from IPython.display import display

In [17]:

d = {'one':[1,1,1,1,1],
     'two':[2,2,2,2,2],
     'letter':['a','a','b','c','b']}


df = pd.DataFrame(d)
display(df)

  letter  one  two
0      a    1    2
1      a    1    2
2      b    1    2
3      c    1    2
4      b    1    2

In [18]:
one = df.groupby('letter')
display(one)
display(one.head())
one.sum()

  letter  one  two
0      a    1    2
1      a    1    2
2      b    1    2
3      c    1    2
4      b    1    2

        one  two
letter
a         2    4
b         2    4
c         1    2

In [21]:
lettertwo = df.groupby(['letter','two']).sum()
lettertwo

            one
letter two
a      2      2
b      2      2
c      2      1

In [22]:
lettertwo.index

MultiIndex(levels=[['a', 'b', 'c'], [2]],
           labels=[[0, 1, 2], [0, 0, 0]],
           names=['letter', 'two'])

In [24]:
lettertwo = df.groupby(['letter','two'], as_index=False).sum()
lettertwo

  letter  two  one
0      a    2    2
1      b    2    2
2      c    2    1

In [25]:
lettertwo.index

Int64Index([0, 1, 2], dtype='int64')